<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Updater</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-color: #e9ecef">

    <div class="container">
        <div class="py-5 text-center">
                <h2><%= cat.toUpperCase() %></h2>  
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <% ads.forEach(function(ad,index){ %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= ad.adHeader %></td>
                    <td><i class="fas fa-trash-alt fa-2x" id=<%= ad._id %> style="cursor: pointer"></i></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    <div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $('i').on('click', function(){
            //alert(this.id)
            var that = this;
            var Id = this.id;
        swal({
            title: "Estas seguro?",
            text: "Se va a borrar el anuncio de la base de datos",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.post("delete_ad",
                {
                    id: Id
                },
                function(data, status){
                    //alert("Data: " + data + "\nStatus: " + status);
                    if(data == 'OK'){
                        swal("Poof!", {
                            icon: "success",
                        });
                        $(that).closest("tr").hide(); /// Hides current row
                    }
                });
                ;
            } else {
                swal("El anuncio no fue eliminado");
            }
        });
        });
    </script>

  </body>
</html>
